
    @import url('https://fonts.googleapis.com/css?family=Oswald');

*{
    margin: 0px;
    font-size: 16px;
    --button50: rgba(241, 182, 126, 0.5);
    --button25: rgba(241, 182, 126, 0.25);
    --text-color-80: #1e1f21ec;
}
.font-size-65 {
    font-size: .65rem;
}
.pad-l-1 {
    padding-left: 1em;
}
.m-l-1 {
    margin-left: 1em;
}
.m-b {
    margin-bottom: .75em;
}

.container {
    display: flex;
}
.left-container {
    background-image: url(./Assets/left-image.jpg);
    background-size:cover;
    background-position:  center;
    height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.logo  {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000028;
    padding: 1.75em;
}
.logo h1 {
    text-shadow: 2px 2px 10px black;
    font-size: 2rem;
    color: white;
}
.logo>img {
    width: 100px;
}

.credit {
    color: white;
    position: absolute;
    bottom: 10px;
    align-self: center;
}
.credit a {
    color: white;
    text-decoration: none;
}
.credit a:hover {
    color: var(--text-color-80);
    text-decoration: none;
}
/* Right Container */
.right-container {
    color: var(--text-color-80);
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-container-main {
    
   
}
.form-container {
    background-color: rgba(128, 128, 128, 0.1);
    padding: 1.25em 1em;
}

label {
    font-size: .9em;
}
.input-container {
    display: flex;
    gap: 16px;
    margin-bottom: .5em;
}


input:focus {
    box-shadow: blue;
}

.btn {
    display: flex;
    gap: 1em;
    justify-content: center;
}
button {
    margin-top: .5em;
    padding: .5em 2em;
    background-color: var(--button50);
    border: none;
    border-radius: .35em;
    box-shadow: 2px 2px 15px var(--button25);
    width: 14.50em;
}
button:hover {
    background-color: var(--button25);
}

/* Style for JavaScript */
.error {
    color: red;
}
.error-text {
    color: transparent;
    font-size: .65em;
}
.error input {
    border: 1px solid red;
}
